#root {
  margin: 0 auto;
  background-color: #20405E;
}

@font-face {
  font-family: 'Dongle';
  src: url('/fonts/Dongle-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/fonts/Comfortaa.ttf') format('truetype');
}

@font-face {
  font-family: 'Righteous';
  src: url('/fonts/Righteous.ttf') format('truetype');
}

html {
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
}

#scroll-container {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll; 
} 

#landing-page, #about-us, #image-vids-collage, #hire-us, #hire-us3, #ready-hire{
  height: 100vh;
  scroll-snap-align: start;
}

#landing-page {
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}


#about-us{
  color: white;
  background-color: #20405E;
  scroll-behavior: smooth;
  height: 100vh;
  margin-left: 7%;
  width: 50%;
}

#about-us-title {
  color: #F8C645;
  font-family: 'Dongle';
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  padding-top: 40%;
}

#about-us-subtitle {
  color: #6CDFBC;
  font-family: "Comfortaa";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin-top: -5%;
}

#about-us-description1, #about-us-description2 {
  color: white;
  font-family: "Comfortaa";
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  width: 74vw;
}

#about-us-description1 {
  padding-top: 3%;
}

#image-vids-collage{
  margin-top: 6%;
  position: relative;
}

#image2 {
  height: 58.2%;
  width: 35%;
}
#image5 {
  height: 58.2%;
  width: 26%;
}
#image6 {
  height: 58.2%;
  width: 39%;
}

#kenvid{
  width: 50%; 
  height: 44.3%;
}

#zfvid{
  width: 50%; 
  height: 44.3%;
}

#flyersrect, #favsrect{
  color: white;
  font-family: "Comfortaa";
  font-size: 19px;
  font-weight: 700;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#concertrect, #concertdesrect{
  color: white;
  font-family: "Comfortaa";
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
}

#socialrect {
  position: absolute;
  top: 40%;
  left: -3%;
  width: 18%; 
  height: 30%;
}

#flyersrect {
  position: absolute;
  top: 34%;
  left: 20%;
  width: 18%; 
  height: 30%;
}

#concertdesrect {
  position: absolute;
  top: 40%;
  right: 17.3%;
  width: 16%; 
  height: 26%;
  font-size: 12.66px;
  font-weight: 500;
  line-height: 15px;
}

#concertrect {
  position: absolute;
  top: 43%;
  right: 3%;
  width: 18%; 
  height: 30%;
  font-size: 18px;
  font-weight: 700;
}

#favsrect {
  position: absolute;
  top: 52%;
  left: 37%;
  width: 15%; 
  height: 25%;
  font-size: 20px;
  font-weight: 700;
}


#hire-us{
  color: white;
  background-color: #20405E;
  scroll-behavior: smooth;
  width: 50%;
  margin-top: 10%;
}

#hire-us-title {
  font-family: 'Righteous';
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #6CDFBC;
  color: transparent;
  font-size: 87px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  padding-top: 14%;
  padding-left: 130%;
  margin-right: -100%;
  margin-bottom: 4%;
}

#concert {
  height: 30%;
  width: 74%;
  margin-left: 114%;
}

#group1{
  height: 30%;
  width: 74%;
  margin-left: 114%;
}

#hire-us-description1, #hire-us-description2, #hire-us-description3  {
  color: white;
  font-family: "Comfortaa";
  font-size: 25px;
  font-style: normal;
  line-height: 48px;
  margin-left: 15%; 
}

#hire-us-description1 {
  font-weight: 600;
  font-size: 28px;
  margin-top: -65%;
}

#hire-us-description2 {
  font-weight: 300;
  font-size: 22px;
  margin-top: -3%;
  line-height: 36px;
}

#hire-us-description3 {
  font-weight: 300;
  font-size: 17px;
  margin-top: 8%;
  font-weight: 10;
  line-height: 30px;
}

#ready-hire{
  color: white;
  background-color: #20405E;
  scroll-behavior: smooth;
  margin-left: 7%;
  padding-top: 5%;
}

#ready-hire-title {
  font-family: 'Righteous';
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #F8C645;
  color: transparent;
  font-size: 94px;
  font-style: normal;
}

#ready-hire-description, #let-us-know, #ready-hire-list{
  color: white;
  font-family: "Comfortaa";
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
}
#let-us-know{
  margin-left: 6%;
}
#ready-hire-list {
  width: 80%;
  margin-left: 7%; 
  margin-top: -2%;
}

#hire-us3 {
  color: white;
  background-color: #20405E;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  margin-top: -6%;
  padding-top: 8%;
}

#song-requests, #times, #charity {
  font-family: "Dongle";
  font-size: 50px;
  font-weight: 480;
  line-height: 55px;
  margin-left: 7%;
}

#song-requests-text, #times-text, #charity-text { 
  font-size: 20px;
  font-family: "Comfortaa";
  font-weight: 600;
  line-height: 60px;
  margin-left: 7%;
  margin-top: -3%;
  width: 86%;
  
}

mark {
  background-color: transparent;
  color: gold;
}


.parallax {
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
