#root {
  margin: 0 auto;
  background-color: #20405E;
}

@font-face {
  font-family: 'Dongle';
  src: url('/fonts/Dongle-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/fonts/Comfortaa.ttf') format('truetype');
}

html {
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
}

#scroll-container {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y proximity;
  overflow-y: scroll; 
}

#landing-page, #about-us {
  height: 100vh;
  scroll-snap-align: start;
}

#landing-page {
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}


#about-us{
  color: white;
  background-color: #20405E;
  scroll-behavior: smooth;
  height: 100vh;
  margin-left: 7%;
  margin-top: 3%;
  width: 50%;
}

#about-us-title {
  color: #F8C645;
  font-family: 'Dongle';
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  padding-top: 46%;
}

#about-us-subtitle {
  color: #6CDFBC;
  font-family: "Comfortaa";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  margin-top: -5%;
}

#about-us-description1, #about-us-description2 {
  color: white;
  font-family: "Comfortaa";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  width: 74vw;
}

#about-us-description1 {
  padding-top: 3%;
}

#about-us-description2 {
  margin-bottom: 13%;
}

#hire-us{
  color: white;
  background-color: #20405E;
  scroll-behavior: smooth;
  margin-left: 7%;
  height: 100vh;
  margin-top: 3%;
  width: 50%;
}

#hire-us-title {
  color: #6CDFBC;
  font-family: 'Righteous';
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  margin-top: 30%;
  padding-top: 46%;
}




#hire-us-description1, #hire-us-description2, #hire-us-description3  {
  color: white;
  font-family: "Comfortaa";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  
}

#hire-us-description1 {
  font-weight: 600;
  font-size: 28px;
}

#hire-us-description2 {
  font-weight: 300;
  font-size: 18px;
}

#hire-us-description3 {
  font-weight: 300;
  font-size: 18px;
  margin-top: 25%;
}

#hire-us3{
  color: white;
  background-color: #20405E;
  scroll-behavior: smooth;
  height: 100vh;
  margin-left: 7%;
  margin-top: 45%;
  width: 100%;
}

#song-requests, #times, #charity {
  
  font-family: "Dongle";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  
}

#song-requests-text, #times-text, #charity-text {
  
  
  font-size: 14;
  font-style: normal;
  font-weight: 600;
  line-height: 55px;
  
}









mark {
  background-color: transparent;
  color: gold;
}


  .parallax {
    /* The image used */
    /* background-image: url("./assets/noteworthy-group.png"); */
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
